<!doctype html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>EventeX</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css"/>
	</head>
	<body id="home">
		<div id="header">
			<img src="{{ STATIC_URL 	}}images/logo.png" width="140" height="80" alt="baner">
		</div>
		<div id="menu">
			<h2></h2>
		</div>
		<div>
			<p>
				Para dúvidas e mais informações:
				Entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>
			</P>
		</hgroup>
	</body>
</html>